.Header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

.Header h1 {
  font-family: "Star Jedi Outline", "Star Jedi", "Bebas Neue";
  text-align: center;
  color: #ffffff;
}

@media (max-width: 425px) {
  .Header {
    margin-top: 20%;
  }
}
